.home-container {
  padding: 2rem;
  height: 100%;
  
}

.company-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.company-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.company-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.company-info h2 {
  margin: 0;
  font-size: 2rem;
  /* color: #1B90EC; */
}

.stock-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.graph-container {
  height: 70%;
  width: 100%;
  margin: 0 auto;
} 